fastapi 
uvicorn 
pydantic 
pydantic-settings
sqlalchemy 
psycopg2-binary 
alembic

celery 
redis

python-multipart 
python-jose[cryptography] 
passlib[bcrypt] 
python-dotenv

# AI 
torch
torchvision
transformers
sentence-transformers
pillow
opencv-python
numpy
requests
nudenet

# Qdrant
qdrant-client